/**************************************
	General Styles
**************************************/
html {
	position: relative;
	height: 100%;
}

body { height: 100%;}

footer {
	width: 100%;
	padding-top: 15px;
}

.container.page {
	min-height: 100%;
	height: 100%;
	height: auto;
	padding-bottom:200px;
}


/**************************************
	App Styles
**************************************/
#back-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 12;
	display: none;
}
