/**************************************
	General Styles
**************************************/
html {
	position: relative;
	height: 100%;
}

body { height: 100%;}

footer {
	width: 100%;
	padding-top: 15px;
}

.container.page {
	min-height: 100%;
	height: 100%;
	height: auto;
	padding-bottom:200px;
}

.jumbotron.jumbotron-pagetitle {
	padding: 2rem 1rem;
}

.bottom-0 {
	bottom: 0;
}


/**************************************
	App Styles
**************************************/
#back-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 12;
	display: none;
}

/**************************************
	FuelUX
**************************************/
.fuelux .datepicker-calendar-days td button, .fuelux .datepicker-calendar-header .title {
	cursor: pointer;
}

.fuelux .datepicker-calendar-days td.current-day span {
	background: #FCF885;
}
.fuelux .datepicker-calendar-days td.selected span {
	background: #29335C;
}
.fuelux .datepicker-calendar-days td:hover span {
	background: #29335C;
}
.fuelux .datepicker-calendar-days td b:hover, .fuelux .datepicker-calendar-days td button:hover {
	color: #fff;
}
.fuelux .datepicker-calendar-days td.selected b, 
.fuelux .datepicker-calendar-days td.selected button {
	color: #fff;
}
.fuelux .datepicker-calendar-days td.selected b:hover, .fuelux .datepicker-calendar-days td.selected button:hover {
	color: #29335C;
}

.fuelux .datepicker-calendar-days td.current-day span {
	background: #A6CFD5;
}

.fuelux .datepicker-calendar-days td.current-day button {
	color: #fff;
}
.fuelux .datepicker-calendar-days td.selected.current-day button {
	color: #fff;
}

.fuelux .datepicker-calendar-days td.selected.current-day button {
	color: #fff;
}
